<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="footer flex-container" style="height: 50px; background-color: #8294C4;">

        <!-- Copyright -->
        <div class="flex-container text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="row">
                <div class="col-lg-9 d-flex" style="color: black;">
                    © 2023 Copyright:
                    <a class="" href="https://avdhootacademy.com/" style="color: blue;">avdhootacademy.com</a>
                </div>
                <div class="col-lg-3 float-right">
                    <button type="button" class="btn btn-primary btn-md btn-floating mx-4" onclick="window.location.href='https://www.facebook.com/AVADHOOTACADEMY/'"
                        style="background-color: hsl(264, 94%, 43%);">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-md btn-floating mx-3" onclick="window.location.href='https://www.youtube.com/@avadhootacademy7977'"
                        style="background-color: hsl(0, 97%, 50%);">
                        <i class="fab fa-youtube"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-md btn-floating mx-3" onclick="window.location.href='https://www.instagram.com/avadhoot_academy/?hl=en'"
                        style="background-color: #ff07f3;">
                        <i class="fab fa-instagram"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-md btn-floating mx-3" onclick="window.location.href=''"
                        style="background-color: hsl(209, 94%, 47%);">
                        <i class="fab fa-twitter"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Copyright -->
</div>
<!-- End of .container -->