<div class="responsive-container-block bigContainer" style="background-color: #ECF8F9;">
    <div class="responsive-container-block Container bottomContainer">
      <div class="ultimateImg">
        <img class="mainImg" src="assets/aboutss.jpg">
        <div class="purpleBox" style="background-color: #1F6E8C;">
          <p class="purpleText">
            “Everybody is a genius. But if you judge a fish by its ability to climb a tree, it will live its whole life believing that it is stupid.”<br> ~ Albert Einstein 
          </p>
          <img class="stars" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp5.svg">
        </div>
      </div>
      <div class="allText bottomText">
        <p class="text-blk headingText" style="font-size:50px;">
          About Us
        </p>
        <p class="text-blk subHeadingText">
            "Don’t tell me the sky is the limit when I know there are footprints on the moon...”
        </p>
        <p class="text-blk description">
          Sudhir Science classes is coaching classes for 11th, 12th Science [PCMB - NEET / JEE / CET] and 8th, 9th, 10th [STATE / CBSE / ICSE]. With an outstanding performance and a leading result in all the standards the academy ranks high in the area. 
        </p>
        <p class="text-blk description">
          1st Floor, Ghadge Classes, Aundh, Pune, India - 411045   Landmark: Netaji Chowk
          
        </p>
        <a class="explore" style="background-color: #AFD3E2;" >
          Services
        </a>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col p-3"><a><i class="fa-sharp fa-solid fa-circle-check"></i>classes</a></div>
                <div class="col p-3"><a><i class="fa-sharp fa-solid fa-circle-check"></i>classe XI</a></div>
                <div class="col p-3"><a><i class="fa-sharp fa-solid fa-circle-check"></i>classe XII</a></div>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col p-3"><a><i class="fa-sharp fa-solid fa-circle-check"></i>Mathematics</a></div>
                <div class="col p-3"><a><i class="fa-sharp fa-solid fa-circle-check"></i>Physics</a></div>
                <div class="col p-3"><a><i class="fa-sharp fa-solid fa-circle-check"></i>Chemistry</a></div>
            </div>
        </div>
      </div>
    </div>
  </div>
  